{% extends 'base.html' %}


{% block head %}
<title> Home </title>
<link rel="stylesheet" type="text/css" href="../static/index.css">
{%endblock%}

{% block nav %}

{%endblock%}

{% block body %}
<h1> Find a reading journey with us</h1>
<h3>Here is a community that shares its experience</h3>
<div id="body">

    <button id="login" type="button" onclick="window.location.href='Login'">Log in</button>
    <button id="signup" type="button" onclick="window.location.href='SignUp'">Sign Up</button>
</div>
{%endblock%}
